@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import "tailwindcss";
/* :root{
  --font-outfit: 'Outfit', sans-serif;
} */
.font-outfit {
  font-family: 'Outfit', sans-serif;
}